include ../standard-button/standard-button.pug

mixin events(options = {image:"images/events-photo.png", day: "24", month: "Aug", title: "this is the title", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", button: {text:"add to calendar", color:"green", size:"", effect:"", activeStatus:"inactive"}})
    -let {image = "images/events-photo.png", day = "24", month = "Aug", title = "this is the title", text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", button = {text:"add to calendar", color:"green", size:"", effect:"", activeStatus:"inactive"}} = options;
    .events
        .events__image(style=`background-image: url(${image});`)
        form.events__content
            h2.events__day= day
            h2.events__month= month
            h2.events__title= title
            p.events__text= text
            .events__button
                +standard-button(button)